<div *ngIf="!logged" style=" display: flex; flex-direction: column; padding: 50px;justify-content: center; max-width: 40%; background-color:white; border: 1px solid grey; align-items: center; text-align: center;">
  <h1 style="font-family: Permanent Marker">Welcome to the BoatApp!</h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="user.username" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="user.password" placeholder="Password" type="password">
  </mat-form-field>
  <div style="text-align:center">
    <button mat-stroked-button color="basic" (click)="register(user)">Register</button>
    <button mat-stroked-button color="basic" (click)="login(user)">Login</button>
  </div>
</div>
<div *ngIf="logged">
  <p>Logged</p>
</div>
