<div style="background-color: lightblue">
<div *ngIf="!logged"
     style="display: flex; flex-direction: column; padding: 50px;justify-content: center; background-color:lightblue; align-items: center; text-align: center;">
  <mat-card style="padding: 50px;">
    <mat-card-content>
      <h1 style="font-family: Permanent Marker">Welcome to the BoatApp!</h1>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="name" placeholder="User Name">
        <mat-error *ngIf="pass.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="3-10 characters" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput #input maxlength="10" minlength="3" [formControl]="pass" placeholder="Password" type="password">
        <mat-hint align="end">{{input.value.length}}/10</mat-hint>
        <mat-error *ngIf="pass.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <div *ngIf="!pass.invalid && !name.invalid" style="text-align:center">
        <button mat-flat-button color="primary" (click)="login()">Login</button>
        <button mat-stroked-button color="basic" (click)="register()">Register</button>
      </div>
      <div *ngIf="pass.invalid || name.invalid" style="text-align:center">
        <button mat-flat-button disabled>Login</button>
        <button mat-flat-button disabled>Register</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="logged"
     style="display: flex; flex-direction: column; background-color: lightblue; align-items: center;">
  <mat-card style="padding: 50px;">
    <mat-card-content>
      <h1 style="font-family: Permanent Marker">BoatApp</h1>
      <h2><i>Welcome back {{member.username}}!</i></h2>
      <div style="display: flex; flex-direction: row; justify-content: space-between">
        <button mat-flat-button color="primary" (click)="addBoat()">Add Boat
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-flat-button color="accent" (click)="edit = true">Edit Boat
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-stroked-button color="basic" (click)="logOut()">Logout
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngFor="let boat of member.boats" style="min-width: 400px;">
  <mat-card style="margin-top: 10px; padding: 10px 50px; " (click)="openDetails(boat)">
    <mat-card-content>
      <h4>{{boat.name}}</h4>
      <p><i>{{boat.description}}</i></p>
    </mat-card-content>
  </mat-card>
  <button *ngIf="edit" mat-mini-fab color="accent" (click)="editBoat(boat)">
    <mat-icon>edit</mat-icon>
  </button>
  <button *ngIf="edit" mat-mini-fab color="warn" (click)="deleteBoat(boat)">
    <mat-icon>delete</mat-icon>
  </button>
  </div>
</div>
</div>
